.modal {
	@extend .overlay-base;

	z-index: $modal-z-index;

	&__content {
		width: fit-content;
		height: fit-content;
		margin: auto;
		background-color: $color-white;
	}

	&--is-open {
		animation-name: fade-in;
		animation-duration: .3s;
	}
}