$card-size: 25rem;
$grid-gap: 4rem;

.notes-grid {
	display: grid;
	align-items: center;
	padding: $spacing-size-3;
	grid-template-columns: repeat(auto-fit, $card-size);
	grid-template-rows: repeat(auto-fit, $card-size);
	grid-gap: $grid-gap;

	& > * {
		width: $card-size;
		height: $card-size;
		border-radius: $border-radius-1;
	}

	&__add-note-button {
		border: none;
		background-color: $color-primary;

		@include elevation-level(3);

		&:hover {
			@include elevation-level(6);

			background-color: $color-primary-dark;
		}

		&:focus {
			@include elevation-level(6);

			outline: 0;
		}

		&:active {
			@include elevation-level(1);

			background-color: $color-primary;
		}
	}

	&__add-note-button-icon {
		width: 5rem;
		height: 5rem;
		fill: white;
	}

	&__item {
		position: relative;
		overflow: hidden;
		transition: border-color .2s;
		border: 3px solid white;
		font-size: calc(.25 * #{$font-size-large-9});

		@include elevation-level(3);

		&:hover {
			border-color: $color-primary;
		}
	}

	&__item-source {
		margin: $spacing-size-3 0 0 $spacing-size-3;;
	}
}