$color-white: #ffffff;
$color-black: #000000;

$color-primary: #B90445;
$color-primary-dark: darken($color-primary, 5%);
$color-grey: #757575;

// $color-primary: #CC1100;

// $color-primary: #5E8542;

// $color-primary: gold;

// $color-primary-light-10: lighten($color-primary, 50%);
// $color-primary-light-9: lighten($color-primary, 45%);
// $color-primary-light-8: lighten($color-primary, 40%);
// $color-primary-light-7: lighten($color-primary, 35%);
// $color-primary-light-6: lighten($color-primary, 30%);
// $color-primary-light-5: lighten($color-primary, 25%);
// $color-primary-light-4: lighten($color-primary, 20%);
// $color-primary-light-3: lighten($color-primary, 15%);
// $color-primary-light-2: lighten($color-primary, 10%);
// $color-primary-light-1: lighten($color-primary, 5%);
// $color-primary: $color-primary;
// $color-primary-dark-1: darken($color-primary, 5%);
// $color-primary-dark-2: darken($color-primary, 10%);
// $color-primary-dark-3: darken($color-primary, 15%);
// $color-primary-dark-4: darken($color-primary, 20%);