$color-invalid: #dc3545;
$color-valid: #28a745;

$color-primary-light-10: #fcfdff;
$color-primary-light-9: #f7fbfe;
$color-primary-light-8: #f1f9fe;
$color-primary-light-7: #ebf6fe;
$color-primary-light-6: #e7f4fd;
$color-primary-light-5: #e3f2fd;
$color-primary-light-4: #bbdefb;
$color-primary-light-3: #90caf9;
$color-primary-light-2: #64b5f6;
$color-primary-light-1: #42a5f5;
$color-primary: #2196f3;
$color-primary-dark-1: #1e88e5;
$color-primary-dark-2: #1976d2;
$color-primary-dark-3: #1565c0;
$color-primary-dark-4: #0d47a1;

$color-grey-light-10: #fdfdfd;
$color-grey-light-9: #f9fafb;
$color-grey-light-8: #f6f7f8;
$color-grey-light-7: #f2f4f5;
$color-grey-light-6: #eff1f3;
$color-grey-light-5: #eceff1;
$color-grey-light-4: #cfd8dc;
$color-grey-light-3: #b0bec5;
$color-grey-light-2: #90a4ae;
$color-grey-light-1: #78909c;
$color-grey: #607d8b;
$color-grey-dark-1: #546e7a;
$color-grey-dark-2: #455a64;
$color-grey-dark-3: #37474f;
$color-grey-dark-4: #263238;

$color-white: #ffffff;
$color-black: #000000;

$application-background-color: $color-white;

$color-breadcrumb-link: #286684;

// $color-primary: #CC1100;

// $color-primary: #5E8542;

// $color-primary: gold;

// $color-primary-light-10: lighten($color-primary, 50%);
// $color-primary-light-9: lighten($color-primary, 45%);
// $color-primary-light-8: lighten($color-primary, 40%);
// $color-primary-light-7: lighten($color-primary, 35%);
// $color-primary-light-6: lighten($color-primary, 30%);
// $color-primary-light-5: lighten($color-primary, 25%);
// $color-primary-light-4: lighten($color-primary, 20%);
// $color-primary-light-3: lighten($color-primary, 15%);
// $color-primary-light-2: lighten($color-primary, 10%);
// $color-primary-light-1: lighten($color-primary, 5%);
// $color-primary: $color-primary;
// $color-primary-dark-1: darken($color-primary, 5%);
// $color-primary-dark-2: darken($color-primary, 10%);
// $color-primary-dark-3: darken($color-primary, 15%);
// $color-primary-dark-4: darken($color-primary, 20%);