$font-size-small-10: .4rem;
$font-size-small-9: .5rem;
$font-size-small-8: .6rem;
$font-size-small-7: .7rem;
$font-size-small-6: .8rem;
$font-size-small-5: .9rem;
$font-size-small-4: 1rem;
$font-size-small-3: 1.1rem;
$font-size-small-2: 1.2rem;
$font-size-small-1: 1.3rem;
$font-size-normal: 1.4rem;
$font-size-large-1: 1.5rem;
$font-size-large-2: 1.6rem;
$font-size-large-3: 1.7rem;
$font-size-large-4: 1.8rem;
$font-size-large-5: 1.9rem;
$font-size-large-6: 2rem;
$font-size-large-7: 2.4rem;
$font-size-large-8: 2.8rem;
$font-size-large-9: 3.2rem;
$font-size-large-10: 3.6rem;
$font-size-large-11: 4rem;

$input-font-size: $font-size-normal;