$margin-size-1: .2rem;
$margin-size-2: .4rem;
$margin-size-3: .8rem;
$margin-size-4: 1.2rem;
$margin-size-5: 1.6rem;
$margin-size-6: 2rem;
$margin-size-7: 2.4rem;
$margin-size-8: 2.8rem;
$margin-size-9: 3.2rem;
$margin-size-10: 3.6rem;
$margin-size-11: 4rem;
$margin-size-12: 4.4rem;
$margin-size-13: 4.8rem;
$margin-size-14: 5.2rem;
$margin-size-15: 10.4rem;

$application-container-margin-top: #{$margin-size-7};