$padding-size-1: .2rem;
$padding-size-2: .4rem;
$padding-size-3: .8rem;
$padding-size-4: 1.2rem;
$padding-size-5: 1.6rem;
$padding-size-6: 2rem;
$padding-size-7: 2.4rem;
$padding-size-8: 2.8rem;
$padding-size-9: 3.2rem;
$padding-size-10: 3.6rem;
$padding-size-11: 4rem;
$padding-size-12: 4.4rem;
$padding-size-13: 4.8rem;
$padding-size-14: 5.2rem;
$padding-size-15: 10.4rem;

$main-content-padding: 2rem;
$input-top-padding: $padding-size-3;
$input-left-padding: $padding-size-3;