$sidebar-navigation-link-overlay-z-index: -1;

$sidebar-overlay-z-index: 1;
$react-select-overlay-z-index: 1;

$sidebar-z-index: 2;

$modal-z-index: 3;
$backdrop-z-index: 3;

$online-status-z-index: 4;