$note-modal-height: 90vh;
$buttons-height: 5rem;

.note-modal {
	height: $note-modal-height;
	min-width: 60vw;
	padding: 0 0 0 $padding-size-4;

	&__buttons {
		height: $buttons-height;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	
	&__back-button,
	&__edit-button,
	&__save-button,
	&__delete-button {
		@extend .icon-base;

		margin-right: $margin-size-3;
	}

	&__back-button {
		margin-right: auto;
	}

	&__source {
		font-size: $font-size-large-9;
		margin-left: 4rem;
	}

	&__edit-note-textarea {
		width: 100%;
		height: calc(#{$note-modal-height} - #{$buttons-height});
		resize: none;
		border: none;
		outline: 0 !important;

		@include custom-scrollbar();
	}
}