$note-modal-height: 90vh;
$buttons-height: 5rem;

.note-modal {
	min-width: 60vw;
	height: $note-modal-height;
	padding: 0 0 0 $spacing-size-4;

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: $buttons-height;
	}

	&__back-button,
	&__edit-button,
	&__save-button,
	&__delete-button {
		@extend .icon-base;

		margin-right: $spacing-size-4;
	}

	&__back-button {
		margin-right: auto;
	}

	&__source {
		overflow: auto;
		height: calc(#{$note-modal-height} - #{$buttons-height});
		margin-left: $spacing-size-3;
		font-size: $font-size-large-9;

		ul {
			padding-left: 8rem;
		}

		@include custom-scrollbar();
	}

	&__edit-note-textarea {
		width: 100%;
		height: calc(#{$note-modal-height} - #{$buttons-height});
		resize: none;
		border: none;
		outline: 0 !important;

		@include custom-scrollbar();
	}
}